############################
# Maven
############################
target/
build/

############################
# IDEs
############################
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################
# Logs
############################
*.log
*.log.gz

############################
# Uploads (runtime only)
############################
uploads/*
!uploads/.gitkeep
!uploads/audio/.gitkeep
!uploads/papers/.gitkeep
!uploads/reports/.gitkeep

############################
# OS
############################
.DS_Store