spring:
  application:
    name: AlephLearn

  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/alephlearn
    username: vikkiraj
    password: Aleph@123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # (neeche note dekho)
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER}
    password: ${MAIL_PASS}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

server:
  port: 8080

security:
  jwt:
    secret: QPAIjGm9G+ht0idFX7N1ip3MBLfu+gPGEN7yDCWkUoDhN1+pmC8HU5m85yqZjqygqvY5ZSTWNqtPwb07IBpVPw==
    exp-min: ${JWT_EXP_MIN:60}

app:
  upload:
    reports-dir: uploads/reports

logging:
  file:
    name: application.log
  level:
    root: INFO
    org.springframework.security: INFO

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html
  override-with-generic-response: false